<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Hey, there.</h1>
	<h3>You might be wondering what's going on here...(why is there no styling?)</h3>
		<div>
		Try this:
			<ul>
				<li>
				After the base url, go to /next-a-name/YOUR NAME/then-a-number/ANY NUMBER FROM 0 to 258
				</li><br>
				<li>
				Can you believe I left the bullet points? Oof. What an ugly view.
				</li>
			</ul>
		</div>

</body>
</html>