<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">	
	<link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container" id="oink"></div>
<div class="container" id="right">Hey, <span id="special"><%= @name %></span>, you're <%= @compliments[@number.to_i] %>.</div>
</body>
</html>